<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #88b7dd; color: rgb(35, 111, 161);"  >
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" font-size: 24px;></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <img src="https://curoc.unah.edu.hn/assets/CUROC/paginas/nuevo-pagina/_resampled/ResizedImageWzYwMCw2MDBd/logos-UNAH-11.png" alt="Riengo inteligente CURLP" height="120" width="120" loading="eager">
            <li class="nav-item">
                
                <a class="nav-link" href="/" style= font-size:40px; "color: white;  ">Historial </a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ultimo" style= font-size:40px; "color: white;"> Monitoreo tiempo real</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/grafica" style= font-size:40px; "color: white;">    Gráfica </a>
            
            </li>
        </ul>
    </div>
    <img src="https://cdn-icons-png.flaticon.com/512/5222/5222595.png" alt="Riengo inteligente CURLP" height="100" width="100" loading="eager">

</nav>
<div class="container">
    
   
  